a {
    display: block;
    text-align: center;
}
h2 {
    display: block;
    text-align: center;
}

#title {
    margin-top: 5%;
}

#bar-container {
    display: inline-flex;
    display: -webkit-flex;
    /* position: fixed; */
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 30%;
    padding: 5px;
    border-radius: 16px;
    background-color: rgba(133, 255, 164, 0.568);
}

#bar-container div {
    background-color: rgb(66, 255, 192);
    width: 23.3%;
    height: 85%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    padding: 15px;
    border-radius: 16px;
}

#bar-container div h3 {
    text-align: center;
    justify-content: center;
}

#bar-containe div a {
    width: 90%;
    height: auto;
    padding: 5px;
}